:root {
  font-family: monospace, monospace;
  background-color: rgb(13, 17, 23);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply text-white;
}
