@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Regardion;
  src: url(../../public/fonts/Regardion-Demo-Regular-BF6976b30019af5.woff);
}

:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  background-color: rgb(10, 10, 10);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply text-white;
}

.light-green-color {
	color: rgb(178, 255, 0)
}

.animated-content-wrapper {
  @apply transition duration-300 animate-fadeInUp;
}

.glow-pink-border {
	border-color: rgb(219, 39, 119);
}

h1 {
	@apply text-center text-5xl uppercase font-thin animate-fadeIn border-b glow-pink-border pb-4 my-6 mx-auto light-green-color;
	font-family: Regardion;
}

h2 {
	@apply text-3xl pt-6 pb-4 uppercase font-bold light-green-color;
	font-family: Regardion;
}

h3 {
	@apply text-lg pt-2 pb-2 font-bold;
}

p {
	@apply text-base pb-4 text-white opacity-90 font-thin;
}

a {
	@apply text-base opacity-100 font-bold;
}

ul {
	@apply list-disc text-base ml-4 font-thin;
}

li {
	@apply pl-2;
}

pre {
	@apply border-2 p-4 my-2;
	border-color: rgb(178, 255, 0);
	background-color: rgba(255,255,255,0.02);
	text-wrap: wrap;
}

code {
	@apply text-white opacity-80 font-mono text-sm;
}

.bg-dark {
	background-color: rgb(10, 10, 10);
}