
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);


body {
	font-family: "Avenir Book", AvenirBook, sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	font-style: normal;
	font-variant: normal;
	background-color: #29313D;
}

.container {
	width: 100%;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-variant: normal;
	font-size: 35px;
	letter-spacing: 4px;
}

h2 {
	font-size:24px;
	letter-spacing: 3px;
}

h3 {
	font-size: 20px;
	color: #F6F7F7;
	letter-spacing: 2px;
}

/* HEADER BAR */

.profile-name {
	width:100%;
	color: #F6F7F7;
	padding: 20px 0px 10px 10px;
	margin: 0px;
	text-align: left;
}

.social-icons {
	display: block;
	font-size: 30px;
	margin: 40px 20px;
	height: 100%;

}

.social-icons a {
	background-color: transparent;
	color: #F6F7F7;
	padding: 20px 10px 5px 10px;
	margin: 0px 10px 0px 10px;
}

a.linkedin-icon:hover {
	color: #007bb6;
	animation-name: linkedin;
    animation-duration: 0.2s;
	-webkit-animation-name: linkedin;
    -webkit-animation-duration: 0.2s;
}

a.facebook-icon:hover {
	color: #3b5998;
	animation-name: facebook;
    animation-duration: 0.2s;
	-webkit-animation-name: facebook;
    -webkit-animation-duration: 0.2s;
}

a.instagram-icon:hover {
	color: #6f33b2;
	animation-name: instagram;
    animation-duration: 0.2s;
	-webkit-animation-name: instagram;
    -webkit-animation-duration: 0.2s;
}

a.medium-icon:hover {
	color: #22b8cf;
	animation-name: medium;
    animation-duration: 0.2s;
	-webkit-animation-name: medium;
    -webkit-animation-duration: 0.2s;
}

a.stackoverflow-icon:hover {
	color: #f48024;
	animation-name: stackoverflow;
    animation-duration: 0.2s;
	-webkit-animation-name: stackoverflow;
    -webkit-animation-duration: 0.2s;
}

a.github-icon:hover {
	color: #000000;
	animation-name: github;
    animation-duration: 0.2s;
	-webkit-animation-name: github;
    -webkit-animation-duration: 0.2s;
}

@-webkit-keyframes linkedin {
    from {color: #F6F7F7;}
    to {color: #007bb6;}
}

@keyframes linkedin {
    from {color: #F6F7F7;}
    to {color: #007bb6;}
}

@-webkit-keyframes facebook {
    from {color: #F6F7F7;}
    to {color: #3b5998;}
}

@keyframes facebook {
    from {color: #F6F7F7;}
    to {color: #3b5998;}
}

@-webkit-keyframes instagram {
    from {color: #F6F7F7;}
    to {color: #6f33b2;}
}

@keyframes instagram {
    from {color: #F6F7F7;}
    to {color: #6f33b2;}
}

@-webkit-keyframes medium {
    from {color: #F6F7F7;}
    to {color: #22b8cf;}
}

@keyframes medium {
    from {color: #F6F7F7;}
    to {color: #22b8cf;}
}

@-webkit-keyframes stackoverflow {
    from {color: #F6F7F7;}
    to {color: #f48024;}
}

@keyframes stackoverflow {
    from {color: #F6F7F7;}
    to {color: #f48024;}
}

@-webkit-keyframes github {
		from {color: #F6F7F7;}
		to {color: #000000;}
}

@keyframes github {
		from {color: #F6F7F7;}
		to {color: #000000;}
}

.topic {
	text-align: center;
	cursor: pointer;
	margin-bottom: 10px;
}

.selected-line div{
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	width: 100%;
	height: 5px;
	margin:0px;
	padding:0px;
}

@-webkit-keyframes grow {
    from {padding-top: 40px;}
    to {padding-top: 80px;}
}

@keyframes grow {
    from {padding-top: 40px;}
    to {padding-top: 80px;}
}

.pink {
	background-color: #FFB3BD;
}

.purple {
	background-color: #6562F8;
}

.orange {
	background-color: #E9B85A;
}

.green {
	background-color: #FFA979;
}

.white {
	background-color: #F4F4F4;
}
/* END OF HEADER BAR */

/* WEBSITE - CONTENT */

.website-content {
	margin: 0px;
	padding: 30px;
	background-color: #29313D;
	color: #F6F7F7;
	z-index: 1;
	display: absolute;
	bottom: 0px;
	left:0px;
	text-align: left;
}

.website-content h1 {
	margin-bottom: 30px;
}

.website-content h4 {
	font-size: 15px;
	font-weight: bold;
}

.website-content h5 {
	font-size:  13px;
}

.website-content i {
	padding-right: 10px;
}

.website-content a {
	color: #eeeeee;
}

/* END OF WEBSITE CONTENT */

/* PROFILE */

.website-content img.profile-picture {
	width: 90%;
	margin: 0px auto;
	display:block;
	border-radius: 20px;
}

.website-content p.profile-description {
	padding-top: 80px;
	font-size: 15px;
}

.website-content .profile i {
	color: #FFA979;
}

/* END OF PROFILE*/

/* KNOWLEDGE */

.website-content .skills .row {
	margin: 20px 0px;
	padding: 10px;
}

.website-content .skills .row:hover {
	background-color: #1F252E;
}

.website-content .skill-level {
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 70px;
}

.active-bad {
	border: 15px #ED306A solid;
	background-color: #b46000;
}

.active-medium {
	border: 15px #E9B85A solid;
	background-color: #D68011;
}

.active-great {
	border: 15px #6562F8 solid;
	background-color: #4845B5;
}

.website-content img.programming-icon {
	width: 60%;
	padding: 10%;
}

.website-content .second-line-icons {
	padding: 30px 0px;
}

.popover-title{
    background: #1F252E;
}

.popover{
	color: #F6F7F7;
	background: #1F252E;
}

/* END OF KNOWLEDGE*/

/* RESUME */

.website-content .resume-line h5.description {
	margin: 20px 0px;
}

.website-content .resume-line i {
	color: #E9B85A;
	padding-right: 10px;
}

.website-content .resume-line a {
	color: #E9B85A;

}

.website-content .resume-line {
	padding: 20px 5px;
}

.website-content .resume-line:hover {
	background-color: #1F252E;
}

.website-content .download-button {
	margin: 20px auto;
	border-radius: 20px;
	box-shadow: 1px 1px 2px #F6F7F7;
	text-align: center;
	padding: 10px;
}

.website-content .download-button h3 {
	color: #ffffff;
}


/* END OF RESUME*/

/* PORTFOLIO */

.website-content .portfolio-piece {
	display:block;
	text-align: center;
	margin: 0px auto;
}

.website-content .portfolio-piece .portfolio-link {
	display: block;
	position: relative;
	max-width: 400px;
	margin: 0px auto;
}

.website-content .portfolio-piece .portfolio-link .caption {
	background: rgba(186, 128, 139, 0.9);
	position: absolute;
	width: 200px;
	height: 150px;
	border-radius: 20px;
	opacity: 0;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
}

.website-content .portfolio-piece .portfolio-link .caption:hover {
 	opacity: 1;
}

.website-content .portfolio-piece .portfolio-link .caption .caption-content {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 16px;
	text-align: center;
	top: 50%;
	margin-top: -12px;
	color: white;

}

.website-content .portfolio-piece .portfolio-link .caption .caption-content h3,
.website-content .portfolio-piece .portfolio-link .caption .caption-content h4 {
 	margin: 0;
}

.website-content img.portfolio-icon {
	width: 200px;
	height: 150px;
	margin: 20px;
	text-align: center;
	display: block;
	box-shadow: 0px 0px 1px 1px #cccccc;
	border-radius: 20px;
}

/* END OF PORTFOLIO */

/* FOOTER */

footer p {
	color: #F6F7F7;
}

/* END OF FOOTER*/

/* MEDIA QUERIES */

@media screen and (min-width: 400px) {
	h1 {
		font-size:30px;
	}

	h2 {
		font-size:18px;
	}

	.profile-name h1 {
		font-size: 60px;
	}

	.topic h3 {
		font-size: 18px;
		margin-bottom: 0px;
	}

	.website-content h4 {
		font-size: 16px;
		font-weight: bold;
	}

	.website-content h5 {
		font-size:  14px;
	}

	.website-content p.profile-description {
		padding-top: 10px;
		font-size: 14px;
	}

	.website-content img.portfolio-icon {
		height: 225px;
		width: 300px;
		margin: 20px 0px;
		text-align: center;
		display: block;
		border-radius: 20px;
	}

	.website-content .portfolio-piece .portfolio-link .caption {
		position: absolute;
		width: 300px;
		height: 225px;
		border-radius: 20px;
		opacity: 0;
		transition: all ease 0.5s;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
	}


}

@media screen and (min-width: 768px) {

	.container {
		width: 768px;
	}

	.website-content img.profile-picture {
		width: 500px;
		margin: 0px auto;
		display:block;
	}
}

@media screen and (min-width: 1200px) {

	.skills h2 {
		text-align: right;
	}

	.website-content .resume-line h5 {
		margin: 20px 0px;
	}

	.container {
		width: 1170px;
	}
}



/* END OF MEDIA QUERIES */
