
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);


body {
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	font: 300 15px/1.6 'Raleway', serif, sans-serif;
	background-color: #eeeeee;
}

.container {
	width: 100%;
}

h1 {
	font-size:35px;
}

h2 {
	font-size:24px;
}

/* HEADER BAR */

.profile-name {
	width:100%;
	background-color: #3a3a3a;
	color: #eeeeee;
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0px;
	text-align: center;
}

.profile-name h1 {
	font-size: 45px;
}

.profile-name i {
	font-size: 30px;
}

.profile-name a {
	background-color: #eeeeee;
	color: #3a3a3a;
	padding: 20px 10px 5px 10px;
	margin: 0px 10px 0px 10px;
}

a.linkedin-icon:hover {
	color: #007bb6;
	animation-name: linkedin;
    animation-duration: 0.2s;
	-webkit-animation-name: linkedin; 
    -webkit-animation-duration: 0.2s; 
}

a.facebook-icon:hover {
	color: #3b5998;
	animation-name: facebook;
    animation-duration: 0.2s;
	-webkit-animation-name: facebook; 
    -webkit-animation-duration: 0.2s; 
}

a.gplus-icon:hover {
	color: #d34836;
	animation-name: gplus;
    animation-duration: 0.2s;
	-webkit-animation-name: gplus; 
    -webkit-animation-duration: 0.2s; 
}

a.github-icon:hover {
	color: #eeeeee;
	background-color: #3a3a3a;
	animation-name: github;
    animation-duration: 0.2s;
	-webkit-animation-name: github; 
    -webkit-animation-duration: 0.2s; 
}

@-webkit-keyframes linkedin {
    from {color: #eeeeee;}
    to {color: #007bb6;}
}

@keyframes linkedin {
    from {color: #eeeeee;}
    to {color: #007bb6;}
}

@-webkit-keyframes facebook {
    from {color: #eeeeee;}
    to {color: #3b5998;}
}

@keyframes facebook {
    from {color: #eeeeee;}
    to {color: #3b5998;}
}

@-webkit-keyframes gplus {
    from {color: #eeeeee;}
    to {color: #d34836;}
}

@keyframes gplus {
    from {color: #eeeeee;}
    to {color: #d34836;}
}

@-webkit-keyframes github {
    from {color: #3a3a3a;background-color: #eeeeee;}
    to {color: #eeeeee;background-color: #3a3a3a;}
}

@keyframes github {
    from {color: #3a3a3a;background-color: #eeeeee;}
    to {color: #eeeeee;background-color: #3a3a3a;}
}

.profile-icon {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.topic {
	padding-top: 40px;
	padding-bottom: 10px;
	margin: 0px 0px 40px;
	color: #eeeeee;
	text-align: center;
}

.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

@-webkit-keyframes grow {
    from {padding-top: 40px;}
    to {padding-top: 80px;}
}

@keyframes grow {
    from {padding-top: 40px;}
    to {padding-top: 80px;}
}

.topic i {
	font-size: 40px;
}

.topic h3 {
	font-size: 20px;
	margin-bottom: 0px;
}

.pink {
	background-color: #ED306A;
}

.purple {
	background-color: #601DD6;
}

.orange {
	background-color: #F8A233;
}

.green {
	background-color: #37DB8E;
}

.white {
	background-color: #F4F4F4;
}
/* END OF HEADER BAR */

/* WEBSITE - CONTENT */

.website-content {
	margin: 0px;
	padding: 30px;
	background-color: #3a3a3a;
	color: #eeeeee;
	z-index: 1;
	display: absolute;
	bottom: 0px;
	left:0px;
	text-align: justify;
}

.website-content h1 {
	margin-bottom: 30px;
}

.website-content h4 {
	font-size: 15px;
	font-weight: bold;
}

.website-content h5 {
	font-size:  13px;
}

.website-content i {
	padding-right: 10px;
}

.website-content a {
	color: #eeeeee;
}

/* END OF WEBSITE CONTENT */

/* PROFILE */

.website-content img.profile-picture {
	width: 90%;
	margin: 0px auto;
	display:block;
}

.website-content p.profile-description {
	padding-top: 80px;
	font-size: 15px;
}

.website-content .profile i {
	color: #37DB8E;
}

/* END OF PROFILE*/

/* KNOWLEDGE */

.website-content .skills .row {
	margin: 20px 0px;
	padding: 10px;
}

.website-content .skills .row:hover {
	background-color: #5c5c5c;
}

.website-content .skill-level {
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 70px;
}

.active {
	border: 15px #601DD6 solid;
	background-color: #773EDC;
}

.website-content img.programming-icon {
	width: 100%;
}

.website-content .second-line-icons {
	padding: 30px 0px;
}

.popover-title{
    background: #3a3a3a;
}

/* END OF KNOWLEDGE*/

/* RESUME */

.website-content .resume-line h5.description {
	margin: 20px 0px;
}

.website-content .resume-line i {
	color: #F8A233;
	padding-right: 10px;
}

.website-content .resume-line {
	padding: 20px 5px;
}

.website-content .resume-line:hover {
	background-color: #5c5c5c;
}

.website-content .download-button {
	margin: 20px auto;
	color: #3a3a3a;
	text-align: center;
	padding: 10px;
	border: 2px solid #F8A233;
}

/* END OF RESUME*/

/* PORTFOLIO */

.website-content .portfolio-piece {
	display:block;
	text-align: center;
	margin: 0px auto;
}

.website-content .portfolio-piece .portfolio-link {
	display: block;
	position: relative;
	max-width: 400px;
	margin: 0px auto;
}

.website-content .portfolio-piece .portfolio-link .caption {
	background: rgba(237, 48, 106, 0.9);
	position: absolute;
	width: 200px;
	height: 150px;
	border-radius: 20px;
	opacity: 0;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
}

.website-content .portfolio-piece .portfolio-link .caption:hover {
 	opacity: 1;
}

.website-content .portfolio-piece .portfolio-link .caption .caption-content {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top: 50%;
	margin-top: -12px;
	color: white;
}

.website-content .portfolio-piece .portfolio-link .caption .caption-content h3,
.website-content .portfolio-piece .portfolio-link .caption .caption-content h4 {
 	margin: 0;
}

.website-content img.portfolio-icon {
	width: 200px;
	height: 150px;
	margin: 20px 0px;
	text-align: center;
	display: block;
	border-radius: 20px;
}

/* END OF PORTFOLIO */

/* FOOTER */

footer p {
	color: #f4f4f4;
}

/* END OF FOOTER*/

/* MEDIA QUERIES */

@media screen and (min-width: 400px) {
	h1 {
		font-size:36px;
	}

	h2 {
		font-size:30px;
	}

	.profile-name h1 {
		font-size: 70px;
	}

	.topic h3 {
		font-size: 30px;
		margin-bottom: 0px;
	}

	.website-content h4 {
		font-size: 20px;
		font-weight: bold;
	}

	.website-content h5 {
		font-size:  18px;
	}

	.website-content p.profile-description {
		padding-top: 80px;
		font-size: 20px;
	}

	.website-content img.portfolio-icon {
		height: 250px;
		width: 333px;
		margin: 20px 0px;
		text-align: center;
		display: block;
		border-radius: 20px;
	}

	.website-content .portfolio-piece .portfolio-link .caption {
		background: rgba(237, 48, 106, 0.9);
		position: absolute;
		width: 333px;
		height: 250px;
		border-radius: 20px;
		opacity: 0;
		transition: all ease 0.5s;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
	}

	
}

@media screen and (min-width: 768px) {

	.container {
		width: 768px;
	}

	.website-content img.profile-picture {
		width: 500px;
		margin: 0px auto;
		display:block;
	}
}

@media screen and (min-width: 1200px) {

	.skills h2 {
		text-align: right;
	}

	.website-content .resume-line h5 {
		margin: 20px 0px;
	}

	.container {
		width: 1170px;
	}
}



/* END OF MEDIA QUERIES */